*{
    margin: 0;
    padding: 0;
    border: 0;
}
.box{
    background:url(../img/phfom.png) ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
   color: cornsilk;
   text-align: center;
}
.bo{
    background: url(../img/insomniaar.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: silver;
    text-align: center;
}
img{
    max-width: 105%;
}

.wrapper{
    /* background: url(../img/class.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}