____________________________________________________________________________________________________________________________________________________________________________________________________________
/*---Структура в CSS*/

селектор {
   св-во стиля: параметр;
}

____________________________________________________________________________________________________________________________________________________________________________________________________________
/* Селекторы  */

.test {
   св-во стиля: параметр;
}

#fest {
   св-во стиля: параметр;
}


/*Для того, чтобы перезаписать свойство, для кусочка текста который находится в тэге делаем так*/
<style>.test1 .test2 {
   св-во: параметр;
}

</style><p class="test1">К примеру тестовый такст,
<b class="test2">что бы понять смысл</p>
________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
/*Псевдоклассы и псевдоэллементы*/

:link - не посещённая страница - для ссылок
:visited - посещённая страница - для ссылок
:hover - что будет если навести на ссылку (к примеру изменение цвета)
:first-letter - влияние на первый символ - к любым тэгам
:first-line - влияние на первую строчку - к любым тэгам Структура 

a:link {
   color: red;
}

p:first-letter {
   font-size: 14px;
}

:focus - текстовое поле формы, в которое устанавливается курсор. 
Изменяет стиль в CSS 

<input type="text" name="pract">input:focus {
   border-color: blue;
   background: #fffccc;
}

:before - не даёт скопировать текст
:after - работает так же, как before, только в конце 

p:before {
   content: "ИИИго-го"
}

::selection - что произойдёт если выделить текст 

img[с атрибутом title="hard",title] {
   св-во: параметры;
}

____________________________________________________________________________________________________________________________________________________________________________________________________________
/*Шрифты*/

serif - с засечкамиf 
sans serif - без засечек
____________________________________________________________________________________________________________________________________________________________________________________________________________

/*Текст*/


text-transform - преобразоватия текста: 
	capitalize - Первый символ каждого слова в предложении будет заглавным. 
	lowercase - Все символы текста становятся строчными (нижний регистр). 
	uppercase - Все символы текста становятся прописными (верхний регистр). 
____________________________________________________________________________________________________________________________________________________________________________________________________________ 

/*Декорация текста*/

text-decoration - декорация текста 
	line-through - Создает перечёркнутый текст 
	overline - Линия проходит над текстом 
	underline - Устанавливает подчёркнутый текст none - Отменяет все эффекты, в том числе и подчёркивание у ссылок, которое задано по умолчанию. 

text-decoration-color - установка цвета декорации 

text-decoration-style - какая и сколько линей будет 
	solid - одиночная линия 
	double - двойная линия
	dotted - Точечная линия 
	dashed - Пунктирная линия 
	wavy - Волнистая линия 
____________________________________________________________________________________________________________________________________________________________________________________________________________ 

letter-spacing - растояние между символами (указывать в пикселях) 
word-spacing - растояние между словами (указывать в пикселях) 
line-height - указывает высоту строки в тексте (указывать в пикселях) 
tab-size - ширина отступа в табуляции text-indent - указывает ширину отступа первой строки 
white-space - имитирует работу <pre>,но в отличие от него не меняет шрифт на моноширинный. 
pre-wrap - в тексте сохраняются все пробелы и переносы, однако если строка по ширине не помещается в заданную область, то текст автоматически будет перенесён на следующую строку. 
____________________________________________________________________________________________________________________________________________________________________________________________________________ 

/*Списки*/

list-style-type - тип листа (квадратики, кружочки) 

list-style-image - вместо кружков и значков будет картинка 
	url(/путь)
____________________________________________________________________________________________________________________________________________________________________________________________________________

/*Поля, границы, отступы*/

margin - внешний отступ
(Можно делать top, bottom, left, right)
(!!!Если указывать bottom 20px и следующему нижнему эллементу указать top 20px, то изменений не будет, будет приниматься большее значение)

border - граница
border: (размер), (стиль), (цвет)
Стили border:
	solid - Одиночная линия 
	double - Двойная линия
	dotted - Точечная линия 
	dashed - Пунктирная линия 
	groove - Вдавленная линия
	ridge - Рельефная линия
	inset - Псевдотрёхмерная линия
	outset - Псевдотрёхмерная линия

Скругление border
	border-radius - (размер)
	
padding - внутреннее поле

____________________________________________________________________________________________________________________________________________________________________________________________________________

/*Размеры*/

box-sizing - для того, что бы окна не сползали
	content-box - Cвойства width и height задают ширину и высоту содержимого и не включают в себя значения margin, padding и border.
	border-box - Свойства width и height включают в себя значения padding и border, но не margin.
	
width - сколько по ширине будет занимать блок на экране
height - аналогично width, но по ширине 
min-width - сколько будет минимально занимать пространства по ширине 
min-height - аналогично width, но по высотеэ



____________________________________________________________________________________________________________________________________________________________________________________________________________

/*Позиционирование*/

float - выравнивание по левому или по правому краю (Устаревший метод)
clear - указывает с какой стороны действие float будет отменено, ведь если использовано float, то для других эллементов тоже надо будет работать с float
	both - с двух старон
	left - блок будет по левым float(ом)
	right - под правым
	none - между
	
_________________________________

table - к контенту (slide bar, main) применяются следующие св-ва (Устаревший метод)

block: table;
table-layout: fixed;
width: 100%

#sb1,
#sb2,
main {
   display: table-cell;
}

#sb1,
#sb2 {
   max-width: 350px;
   overflow: hidden;
}

_________________________________

Gride - 

_________________________________

Flex - 

Родителскому классу задаётся display: flex;
Дочерним эллементам задаётся:
	flex: (порядок);
_________________________________

/*Background*/

background-attachment - устанавливает, будет ли прокручиваться фоновое изображение вместе с содержимым элемента. 
	fixed - Неподвижное
	scroll - Перемещается вместе с эллементом

background-clip -  Определяет, как цвет фона или фоновая картинка должна выводиться под границами
	border-box - за границами
	padding-box - в пределах
	content-box - внутри контента
	text - применяется к тексту (color - transparent) - и прописуется через -webkit-background-clip
	
background-position - позиция
	top left - сверху влево
	center top
	center center
	
background-repeat - будет ли повторяться картинка
	repeat - да, везде
	no-repeat - нет
	repeat-x - по оси X
	

_________________________________