* {
   margin: 0;
   padding: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: white;
}

.wrapper {
   background-image: url(https://www.free-wallpapers.su/data/media/3/big/anm5957.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.container {
   max-width: 960px;
   margin: 0 auto;
}

.headder__container {
   display: flex;
}

.headder__logo {
   font-size: 28px;
   font-weight: 900;
   gap: 5px;
   margin: 9px 0;
   padding: 12px;
}

.headder__list {
   text-transform: uppercase;
   list-style: none;
   font-size: 20px;
   display: flex;
   flex-direction: row;
   margin-top: 3px;
   margin-left: 40px;
   background-color: transparent;
   padding: 10px 15px;
   color: rgb(255, 255, 255);
   cursor: pointer;
   transition: 0.35;
}

.headder__list:hover{
   background-color: rgb(200, 216, 251);
   color: rgb(0, 0, 0);
}

.nav__ul {
   display: flex;
   gap: 10px;
   margin: 0px 0;
   border: 6px solid rgb(23, 95, 212);
   padding: 11px;
   border-radius: 20px;
}

.headder__head {
   margin: 20px 0;
}

.header__page {
   margin: 20px 0;
   
   border: 6px solid rgb(23, 95, 212);
   padding: 20px;
   border-radius: 20px;
   background-color: transparent;
}

.section__container {
   display: flex;
   gap: 30px;
   margin: 30px 0;
   border: 6px solid rgb(23, 95, 212);
   padding: 30px;
   border-radius: 20px;
   
}

.footer {
   text-align: center;
   margin: 20px;
   color: blue;
}