.container{
    font-family:Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 300;
}
.img{
    text-align: center;
}
.mbp{
    max-width: 700px;
    border: 10px solid #a29bfe;
    border-radius: 20px;
    padding: 10px;
    background-color: #000;
    margin: 20px 0;
    color: white;
}
.mbp__head{
    text-align: center;
    font-size: 35px;
    padding: 5px 0;
    color: #a29bfe;
}
.mbp__main{
    font-size: 20px;
   
}
.mbp__bald{
    font-size: 20px;
    color: #a29bfe;
}
.mbp__text{
    font-size: 20px;
    padding: 15px 0;
    color: #a29bfe;
}
.mbp__main.text{
    font-size: 20px;
    padding: 15px 0;
    color: #a29bfe;
}
.hello{
    max-width: 700px;
    border: 10px solid #a29bfe;
    border-radius: 20px;
    padding: 20px;
    background-color: #000;
    max-width: 20px 0;
    color: #a29bfe;
}
.hellocome{
    text-align: center;
    font-size: 35px;
    padding: 5px 0;
    color: darkorchid;
}
.hello__blad{
    font-size: 30px;
    padding: 2px 0;
    color: #a29bfe;
}
.bo{
    max-width: 700px;
    border: 10px solid #a29bfe;
    border-radius: 20px;
    padding: 20px;
    background-color: #000;
    margin: 20px 0;
    color: rgb(176, 65, 245);
}
.bo__bald{
    text-align: center;
    font-size: 30px;
    padding: 15px 0;
    color: #fe9bc8;
}
