*{
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   font-family: 'Roboto';
   font-weight: 300;
}

.father__hui {
   display: flex;
   flex-direction: row; 
   margin: 20px auto;
}

.h {
   margin: 30px;
}

.u {
   margin: 50px;
}

.i {
   margin: 70px;
}

.wallcome {
   max-width: 700px;
   border: 10px solid #74b9ff;
   border-radius: 20px;
   padding: 20px;
   background-color: #000;
   margin: 20px 0;
   color: white;
}

.wallcome__head {
   text-align: center;
   font-size: 36px;
   padding: 20px 0;
}

.welcome__main {
   font-size: 16px;
}

.welcome__main.bald {
   font-weight: 900;
   color: #74b9ff;
}

/* .box{
   background:url(../img/phfom.png) ;
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   color: cornsilk;
   text-align: center;
}

.bo{
   background: url(../img/insomniaar.png);
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   color: silver;
   text-align: center;
}

img{
    max-width: 105%;
} */